
  
  .card {
    position: relative;
    background-color: #333;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 9px 38px rgb(0 0 0 / 30%), 0 5px 12px rgb(0 0 0 / 22%);
  }
  
  .photo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
  }
  
  .photo-container * {
    position: absolute;
  }
  
  circle {
    display: block;
    fill: transparent;
    /* stroke: #8649fc; */
    stroke: red;
    stroke-linecap: round;
    stroke-dasharray: 600;
    stroke-dashoffset: 175;
    stroke-width: 7px;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    z-index: 2;
  }
  
  .img-box {
    overflow: hidden;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5em;
    color: #555;
    box-shadow: 0 9px 38px rgb(0 0 0 / 30%), 0 5px 12px rgb(0 0 0 / 22%);
  }
  
  .img-card {
    width: 100%;
  }
  .h3-card {
    text-transform: capitalize;
    color: #ccc;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .span-card {
    font-size: 18px;
    font-weight: 500;
    color: #888;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  
  .box-container {
    display: flex;
    justify-content: space-between;
    width: 190px;
  }
  
  .box-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .box-container .box i {
    width: 45px;
    height: 45px;
    background-color: #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #ddd;
  }
  .box-container .box span {
    color: #ccc;
    font-size: 21px;
    font-weight: 600;
  }
  .box-container .box:first-of-type i {
    background-color: rgba(79, 194, 247, 0.4);
  }
  .box-container .box:nth-of-type(2) i {
    background-color: rgba(171, 71, 188, 0.4);
  }
  
  