* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  body{
    position:sticky;
    left:250px;
    width:100%;
    transition: 0.189s!important;
  }
  .opened{
    position:sticky;
    left: 250px !important;;
    width:calc(100% - 250px)!important;
    transition: 0.189s!important;
  }
  nav > ul {
    list-style: none;
    scrollbar-width: none;
  }
  nav > ul::-webkit-scrollbar {
    width: 0;
  }
  nav a {
    text-decoration: none;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5rem;
  }
  section p,
  section h2 {
    max-width: 90ch;
    margin-bottom: 2rem;
  }
  section:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ff5964;
    background-image: linear-gradient(120deg, #30cfd0 10%, #330867 95%);
  }
  header > h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 3rem rgba(255, 255, 255, 0.25), 0 0 1rem rgba(255, 255, 255, 0.5);
    position: relative;
  }
  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/storage/img/etna-quad.jpg") center center/cover;
    opacity: 0.5;
  }
  
  header.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ff5964;
    background-image: linear-gradient(120deg, #30cfd0 10%, #330867 95%);
    

  }
  header.login > h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 3rem rgba(255, 255, 255, 0.25), 0 0 1rem rgba(255, 255, 255, 0.5);
    position: absolute;
  }
  header.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/storage/img/etna-quad.jpg") center center/cover;
    opacity: 0.5;
    z-index: -1;
  }
  .nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 250px;
    background-color: #ff5964;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    z-index: 100;
  }
  .nav.open {
    transform: translateX(0);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.25);
  }
  .nav_icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: -40px;
    width: 40px;
    height: 40px;
    border-radius: 0 10px 10px 0;
    border-right: 1px solid #ff8c94;
    background-color: #ff5964;
    cursor: pointer;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25);
    transform: translateY(-50%);
    transition: all 0.5s;
  }
  .nav_icon > i {
    pointer-events: none;
    color: #fff;
    font-size: 1rem;
    transition: transform 0.2s ease;
  }
  .nav_icon > i.rotate {
    transform: rotate(180deg);
  }
  .nav_icon > span {
    pointer-events: none;
    font-size: 0;
    color: #fff;
    transform: rotate(90deg);
    transition: all 0.2s;
  }
  .nav_icon > .shape_container {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    z-index: 1;
  }
  .nav_icon > .shape_container.bottom {
    bottom: -20px;
  }
  .nav_icon > .shape_container.top {
    top: -20px;
    transform: rotateX(180deg);
  }
  .nav_icon > .shape_container > .icon_shape {
    fill: #ff5964;
  }
  .nav_icon.mouseDistance {
    transition: all 0.2s, top 0s;
  }
  .nav_icon.mouseDistanceCloser {
    height: 60px;
    width: 60px;
    right: -60px;
    border-radius: 0 30px 30px 0;
  }
  .nav_icon.mouseDistanceCloser > .shape_container {
    height: 40px;
    width: 40px;
  }
  .nav_icon.mouseDistanceCloser > .shape_container.top {
    top: -40px;
  }
  .nav_icon.mouseDistanceCloser > .shape_container.bottom {
    bottom: -40px;
  }
  .nav_icon.mouseDistanceCloser > span {
    font-size: 10px;
  }
  .nav_icon.mouseDistanceCloser > i {
    font-size: 1.5rem;
  }
  .nav_icon:hover {
    box-shadow: none;
  }
  .nav > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    overflow: auto;
  }
  .nav > ul > li {
    width: 100%;
    min-height: 3rem;
  }
  .nav > ul > li:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .nav > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;
    /* text-shadow: 0 1px 1px black; */
    text-transform: uppercase;
  }
  .nav > ul > li > a:hover {
    color: black;
  }
  .nav > ul > li > a > i {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: currentColor;
  }
  a{
    text-decoration:none;
    color:white;
    transition:0.5s;
    font-weight:600;
  }
  a:hover{
    color:black;
    transition:0.5s;
  }